#file-tree {
    float: left;
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
}

#method-detail {
    float: left;
    width: 65%;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
}

pre {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 5px;
}
