#container {
    display: flex;
    height: 90vh;
    font-family: Arial, sans-serif;
}

#left-pane {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
}

#right-pane {
    width: 70%;
    padding: 10px;
}

.has-diff pre {
    background-color: #ffecec;
}
