body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 35px;
    margin:0;
    background-color: aqua;
}
#status {
    margin-top: 5px;
    margin-left: 1%;
    float: left;
}
#status a {
    float: inline-end;
    text-align: left;
    color:black
}
#name {
    margin-top: 5px;
    margin-right: 1%;
    float: right;
}
#name a {
    text-align: right;
    color:black
}
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
}
#menu {
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:60px;
    background:rgb(104, 215, 255);
    border-radius:30px;
    text-align: center;
}