body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 60px;
    margin:0;
    background-color: #f6f8fa;
    border-bottom:solid;
    border-width: thin;
    border-color: #d0d7de;
    text-align: center;
}
header a {
    color:black;
}
#status {
    text-align: left;
}
#name {
    text-align: right;
}
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
}
#menu {
    text-align: center;
}
#menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #0093e8;
    padding-bottom: 5px;
}
#menu a:hover {
    color: #31d0df;
    border-bottom: 3px solid #43efff;
}
#menu .current {
    font-weight: bold;
    color: #0580c7;
}
