<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CodeLeader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/img/icon.svg}" rel="icon">
</head>

<body>
    <header>
        <div class="grid grid-cols-7 border-b border-gray-500 my-3 h-9">
            <div id="status" class="col-span-4 pl-2">
                <h1 class="text-xl"><a href="/home" class="text-slate-200"><img src="/img/icon.svg"
                            class="float-left rounded-full w-7 h-7 mx-2 font-serif"> CodeLeader</a></h1>
            </div>
            <div id="name" class="col-start-5 col-span-3 pr-2">
                <a href="/user" class="text-slate-200" th:text="${uname} + ' Lv ' + ${lv}"></a>
            </div>
        </div>
    </header>
    <div>
        <a th:href="@{/code/{postId}(postId=${postId})}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6 stroke-blue-500 hover:stroke-blue-700 inline-block mb-1 ml-1">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg></a>
        <h1 class="text-xl text-slate-200 inline-block mx-2" th:text="${codeTitle}"></h1>
        <form th:action="@{/edit/{codeId}(codeId=${codeId})}" method="post" class="inline-block">
        <button type="submit" name="remove">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="w-6 h-6 stroke-blue-500 inline-block mb-1 fill-blue-500">
                <path fill-rule="evenodd"
                    d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
                    clip-rule="evenodd" />
            </svg></button></form>
        <a th:href="${editUrl}"
            class="rounded-md bg-blue-500 border-4 border-blue-500 hover:bg-sky-700 hover:border-sky-700 mx-1">editor</a>
    </div>
    <pre class="code text-md">
    </pre>
    <form th:action="@{/edit/{codeId}(codeId=${codeId})}" method="post" class="mt-4 mb-8 flex justify-center inline-block">
        <button type="submit" name="finish"
            class="rounded-md bg-teal-500 border-4 border-teal-500 hover:bg-teal-200 hover:border-teal-200 inline-block mx-1">
            finish</button>
    </form>
    <footer>
        <div class="grid grid-cols-8 bg-[#2d2b2b]">
            <div id="menu" class="col-start-2 col-span-2"><a href="/home" class="current"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                </a></div>
            <div id="menu" class="col-start-4 col-span-2"><a href="/code"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                    </svg>
                </a></div>
            <div id="menu" class="col-start-6 col-span-2"><a href="/mypage"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>
                </a></div>
        </div>
    </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
    function escape_html(string) {
        if (typeof string !== 'string') {
            return string;
        }
        return string.replace(/[&'`"<>]/g, function (match) {
            return {
                '&': '&amp;',
                "'": '&#x27;',
                '`': '&#x60;',
                '"': '&quot;',
                '<': '&lt;',
                '>': '&gt;',
            }[match]
        });
    }

    async function fetchData() {
        const data = await fetch(/*[[${codeUrl}]]*/);
        const text = await data.text();
        const res = await text.split(/\r\n|\n/);
        for (var line = 0; line < res.length; line++) {
            res[line] = escape_html(res[line]);
            $('.code').append('<span>' + '<pre><code>' + res[line] + '</code></pre>' + '</span>');
        }
    }
    fetchData();
</script>