<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CodeLeader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="grid grid-cols-7">
            <div class="col-span-7">
                <h1 class="text-xl"><a href="/home">CodeLeader</a></h1>
            </div>
            <div id="status" class="col-span-4"><a href="/user" class="current"
                    th:text="${rank} + ' Lv ' + ${lv} + ' 称号：' + ${title}"></a></div>
            <div id="name" class="col-start-5 col-span-3">
                <a href="/user" th:text="${uname}"></a>
                <a href="/login">
                    <font color="blue">(ログイン) </font>
                </a>
            </div>
        </div>
    </header>
    <div class="border-b-2 my-2">
        <h1 class="text-lg text-left pl-1">おすすめコード</h1>
    </div>
    <div class="border-b-2 my-2">
        <h1 class="text-lg text-left pl-1">チュートリアル</h1>
    </div>
    <footer>
        <div class="grid grid-cols-8">
            <div id="menu" class="col-start-2 col-span-2"><a href="/home" class="current">Home</a></div>
            <div id="menu" class="col-start-4 col-span-2"><a href="/code">Code</a></div>
            <div id="menu" class="col-start-6 col-span-2"><a href="/mypage">MyPage</a></div>
        </div>
    </footer>
</body>

</html>