<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CodeLeader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/img/icon.svg}" rel="icon">
</head>

<body>
    <header>
        <div class="grid grid-cols-7 border-b border-gray-500 my-3 h-9">
            <div id="status" class="col-span-4 pl-2">
                <h1 class="text-xl"><a href="/home" class="text-slate-200"><img src="/img/icon.svg"
                            class="float-left rounded-full w-7 h-7 mx-2 font-serif"> CodeLeader</a></h1>
            </div>
            <div id="name" class="col-start-5 col-span-3 pr-2">
                <a href="/user" class="text-slate-200" th:text="${uname} + ' Lv ' + ${lv} + ' ' + ${rank}"></a>
            </div>
        </div>
    </header>

    <h1 class="border-b border-gray-500 text-lg text-left pl-1 text-slate-200">お気に入り</h1>
    <div class="my-2 h-36 overflow-y-auto">
        <ul th:each="obj : ${bookmarkCodePaths}" class="list-disc list-inside">
            <a th:href="@{/edit/{codeId}(codeId=${obj.codeId})}">
                <li class="pl-2 hover:text-blue-600 text-slate-200 text-md" th:text="${obj.path}"></li>
            </a>
        </ul>
    </div>

    <h1 class="border-b border-gray-500 text-lg text-left pl-1 text-slate-200">閲覧履歴</h1>
    <div class="my-2 h-36 overflow-y-auto">
        <ul th:each="obj : ${accessCodePaths}" class="list-disc list-inside">
            <a th:href="@{/edit/{codeId}(codeId=${obj.codeId})}">
                <li class="pl-2 hover:text-blue-600 text-slate-200 text-md" th:text="${obj.path}"></li>
            </a>
        </ul>
    </div>

    <div class="grid grid-cols-2">
        <div>
            <h1 class="border-b border-gray-500 text-lg text-left pl-1 text-slate-200">投稿一覧</h1>
        </div>
        <div class="border-b border-gray-500 text-right pr-1"><a href="/post"
                class="rounded-lg bg-blue-500 border-4 border-blue-500 hover:bg-sky-700 hover:border-sky-700">新規投稿</a>
        </div>
    </div>
    <div class="mb-8 h-36 overflow-y-auto">
        <details class="mt-2 open:bg-gray-800 hover:ring-1 open:ring-1 open:ring-white/10 open:shadow-lg p-2 rounded-lg"
            th:each="obj : ${myCodeSets}" close>
            <summary class="text-sm leading-6 text-white font-semibold select-none">
                <a th:href="@{code/{postId}(postId=${obj.postId})}">
                    <p class="mx-2 inline hover:text-slate-400" th:text="${obj.title}"></p>
                </a>
                <p class="mx-2 inline" th:text="${obj.lang}"></p>
                <p class="inline text-slate-400" th:text="${obj.postedAt}">xxxx/xx/xx/xx:xx</p>
            </summary>
            <div class="text-sm leading-6 text-slate-400">
                <th:block th:if="${obj.comment}" class="pb-3">
                    <th:block th:each="str, stat : ${obj.comment.split('\r\n|\r|\n', -1)}">
                        <h2 th:text="${str}" class="leading-tight"></h2>
                    </th:block>
                </th:block>
                <div class="overflow-x-auto" th:each="code : ${obj.codeList}">
                    <a th:href="@{/edit/{codeId}(codeId=${code.id})}">
                        <p class="mx-2 inline" th:text="${code.url}"></p>
                    </a>
                    <p class="mx-2 inline text-slate-500" th:text="${code.lang}"></p>
                </div>
            </div>
        </details>
    </div>

    <footer>
        <div class="grid grid-cols-8">
            <div id="menu" class="col-start-2 col-span-2"><a href="/home" class="current"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                </a></div>
            <div id="menu" class="col-start-4 col-span-2"><a href="/code"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                    </svg>
                </a></div>
            <div id="menu" class="col-start-6 col-span-2"><a href="/mypage"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mx-auto">
                        <path fill-rule="evenodd"
                            d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                            clip-rule="evenodd" />
                    </svg>
                </a></div>
        </div>
    </footer>
</body>

</html>