<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CodeLeader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/img/icon.svg}" rel="icon">
</head>

<body>
    <header>
        <div class="grid grid-cols-7 border-b border-gray-500 my-3 h-9">
            <div id="status" class="col-span-4 pl-2">
                <h1 class="text-xl"><a href="/home" class="text-slate-200"><img src="/img/icon.svg"
                            class="float-left rounded-full w-7 h-7 mx-2 font-serif"> CodeLeader</a></h1>
            </div>
            <div id="name" class="col-start-5 col-span-3 pr-2">
                <a href="/user" class="text-slate-200" th:text="${uname} + ' Lv ' + ${lv}"></a>
            </div>
        </div>
    </header>

    <h2 th:text="${codeSet.title}" class="text-lg text-center text-slate-200 my-3"></h2>
    <th:block th:if="${codeSet.comment}">
        <th:block th:each="str, stat : ${codeSet.comment.split('\r\n|\r|\n', -1)}">
            <h2 th:text="${str}" class="text-sm text-center text-slate-200 leading-tight"></h2>
        </th:block>
    </th:block>
    <table class="text-slate-400 text-md w-10/12 sm:max-w-lg mx-auto my-3">
        <thead class="text-left border-b border-slate-600">
            <tr>
                <th class="w-5/10">FileName</th>
                <th class="w-3/10">Lang</th>
                <th class="w-1/10">Point</th>
            </tr>
        </thead>
        <tbody th:each="code : ${codeSet.codeList}">
            <tr>
                <td th:text="${code.fileName}" class="hover:text-blue-600"></td>
                <td th:text="${code.lang}"></td>
                <td class="text-right" th:text="${code.point}"></td>
            </tr>
        </tbody>
    </table>
    <footer>
        <div class="grid grid-cols-8 bg-[#2d2b2b]">
            <div id="menu" class="col-start-2 col-span-2"><a href="/home" class="current"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                </a></div>
            <div id="menu" class="col-start-4 col-span-2"><a href="/code"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                    </svg>
                </a></div>
            <div id="menu" class="col-start-6 col-span-2"><a href="/mypage"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6 mx-auto">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>
                </a></div>
        </div>
    </footer>
</body>

</html>